@media print {
    *,
    a {
        color: $base--text-color !important;
        background-color: #fff !important;
        border: 0 !important;
    }
    .accordion__content {
        display: block !important;
    }
    .carousel--primary,
    .pagination,
    iframe,
    form {
        display: none !important;
    }
    img {
        max-width: 50%;
    }
    a::after {
        content: "url "attr(href) !important;
        margin-left: 10px;
        color: #ccc;
        font-family: arial;
        font-weight: normal;
        font-size: 12px;
        text-transform: lowercase;
    }
}