.file,
%file {
    @extend %link--bright;
    font-family: $fogerty--solid;
    position: relative;
    vertical-align: top;
    display: block;
    &::before {
        @include central-icon(pdf);
        color: $base--text-color;
        font-size: em(48px);
        padding-right: 10px;
        float: left;
    }
}