.image-caption--auto,
%image-caption--auto {
    @include prefix(text-shadow, 0 0 6px rgba(0, 0, 0, .8));
    content: attr(title);
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: em(12px);
    color: #fff;
}
