<section class="banner--alert">
    <div class="wrapper">
        <h2>School closed</h2>
        <p>Due to exceptional circumstances, Royal Central School of Speech and Drama is closed today. <a href="#">Find out more</a></p>
        <button class="button--close">x</button>
    </div>
</section>