<section class="blockquote-section">
    <blockquote class="blockquote">
        <p>The Student Centre is available to help students experiencing any difficulties such as a shortage of funds, debt, budgeting, and student support entitlement.</p>
        <cite>
            <p>Firstname Lastname</p>
            <p>Position at Central</p>
        </cite>
    </blockquote>
</section>