<section class="breadcrumb">
    <div class="wrapper">
        <nav class="breadcrumb__menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li>All courses</li>
            </ul>
        </nav>
    </div>
</section>