<section class="breadcrumb">
    <div class="wrapper">
        <nav class="breadcrumb__menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Student profiles</a></li>
                <li><a href="#">BA Acting - Acting</a></li>
                <li>Oliver Lawrence</li>
            </ul>
        </nav>
    </div>
</section>