<section class="carousel--simple">
    <div class="wrapper">
        <ul class="carousel--simple__container">
            <li class="carousel--simple__slide">
                <img src="/assets/img/placeholder-image--carousel-simple-1.jpg" alt="Standard alt text">
            </li>
            <li class="carousel--simple__slide">
                <img src="/assets/img/placeholder-image--carousel-simple-2.jpg" alt="Standard alt text">
            </li>
            <li class="carousel--simple__slide">
                <img src="/assets/img/placeholder-image--carousel-simple-3.jpg" alt="Standard alt text">
            </li>
            <li class="carousel--simple__slide">
                <img src="/assets/img/placeholder-image--carousel-simple-4.jpg" alt="Standard alt text">
            </li>
        </ul>
    </div>
</section>