<section class="carousel--primary">
    <ul class="carousel--primary__slides">
        <li class="carousel--primary__slide">
            <a href="#"><img src="/assets/img/placeholder-image--carousel-primary__olivier.jpg" title="Image 1 caption"></a>
        </li>
        <li class="carousel--primary__slide">
            <a href="#"><img src="/assets/img/placeholder-image--carousel-primary-2.jpg" title="Image 2 caption"></a>
        </li>
        <li class="carousel--primary__slide">
            <a href="#"><img src="/assets/img/placeholder-image--carousel-primary-3.jpg" title="Image 3 caption"></a>
        </li>
    </ul>
    <div class="carousel--primary__thumb-slides">
        <ul class="carousel--primary__thumbs">
            <li class="carousel--primary__thumb active">
                <a href="#" data-slide-index="0"><img src="/assets/img/placeholder-image--carousel-primary__thumb-1.jpg" /></a>
            </li>
            <li class="carousel--primary__thumb">
                <a href="#" data-slide-index="1"><img src="/assets/img/placeholder-image--carousel-primary__thumb-2.jpg" /></a>
            </li>
            <li class="carousel--primary__thumb">
                <a href="#" data-slide-index="2"><img src="/assets/img/placeholder-image--carousel-primary__thumb-3.jpg" /></a>
            </li>
        </ul>
    </div>
</section>