<section class="carousel--secondary">
    <div class="wrapper">
        <h2>Project funding</h2>
        <ul class="carousel--secondary__slides">
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-1.jpg" title="Image 1 caption"></a>
            </li>
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-2.jpg" title="Image 2 caption"></a>
            </li>
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-3.jpg" title="Image 3 caption"></a>
            </li>
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-4.jpg" title="Image 3 caption"></a>
            </li>
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-5.jpg" title="Image 3 caption"></a>
            </li>
            <li class="carousel--secondary__slide">
                <a href="#"><img src="/assets/img/placeholder-image--carousel-secondary-6.jpg" title="Image 3 caption"></a>
            </li>
        </ul>
        <p>The principal funder is the AHRC (Fellowship and Pratice-Led and Applied Grant), with support in-kind from Z-arts, Manchester and <a href="#">The Puppet Centre</a> for an upcoming exhibition, and ACE Grants for the Arts for a previous research and development initiative.</p>
    </div>
</section>