<section class="carousel--simple">
    <div class="wrapper">
        <ul class="carousel--simple__container">
            <li class="carousel--simple__slide">
                <a href="#" title="test caption"><img src="/assets/img/placeholder-image--carousel-simple.jpg" alt="Standard alt text"></a>
            </li>
            <li class="carousel--simple__slide">
                <a href="#" title="another test caption"><img src="/assets/img/placeholder-image--carousel-simple.jpg" alt="Standard alt text"></a>
            </li>
        </ul>
    </div>
</section>