<section class="contact-info">
    <div class="wrapper">
        <h3 class="mobile-only">Contact</h3>
        <p>The Royal Central School of Speech and Drama, Eton Avenue, London, NW3 3HY, UK</p>
        <a href="#">View map</a>
        <p>Telephone +44 (0)20 7722 8183</p>
        <p>&copy; 2014 The Royal Central School of Speech and Drama</p>
        {% include "social-links--small" %}
    </div>
</section>