<section class="accordion--rich">
    <div class="accordion">
        <h2 class="accordion__toggle default--open">Course detail</h2>
        <div class="accordion__content">
            <h3>Year 1</h3>
            <p>Freeing and discovering: students work from the uniqueness of self within the group context and the rigour of the training studio, and learn to work with truth and integrity, opening up and releasing the body, voice and imagination, and developing a personal process and craft through which to build character and live truthfully within a fictional world. By learning to live and breathe in the moment, students start to discover the creative potential of the acting space.</p>
            <h3>Year 2</h3>
            <p>Stretching and growing: building on this experience, students expand their physical and emotional range, developing the art of transformation and working imaginatively from within worlds and characters which are substantially removed from their own. Students also learn to transfer skills to television and radio. Towards the end of the year, students start to think about applying their training within industry contexts.</p>
            <h3>Year 3</h3>
            <p>Applying the craft: through a series of contrasting public productions and recorded media projects, students apply and develop their craft within simulated professional contexts, while at the same time engaging in the process of interfacing with the industry and learning how to survive as a working actor.</p>
            <h3>Course specification</h3>
            <h4><a href="#">BA (Hons) Acting Course Specification</a></h4>
            <h4><a href="#">Request a prospectus</a></h4>
        </div>
        <h2 class="accordion__toggle">Professional focus</h2>
        <div class="accordion__content">
            <p>For over 100 years, many of the most pre-eminent theatre practitioners and performers in the world have been Central alumni. Find out more about our acting alumni:</p>
        </div>
        <h2 class="accordion__toggle">Entry requirements and admissions</h2>
        <div class="accordion__content">
            <p>For over 100 years, many of the most pre-eminent theatre practitioners and performers in the world have been Central alumni. Find out more about our acting alumni:</p>
        </div>
        <h2 class="accordion__toggle">Alumni</h2>
        <div class="accordion__content">
            <p>For over 100 years, many of the most pre-eminent theatre practitioners and performers in the world have been Central alumni. Find out more about our acting alumni:</p>
            <ul>
                <li><a href="#">Joss Ackland</a></li>
                <li><a href="#">Rodney Ackland</a></li>
                <li><a href="#">Nonso Anozie</a></li>
                <li><a href="#">Peggy Ashcroft</a></li>
                <li><a href="#">Juliet Aubrey</a></li>
                <li><a href="#">Mr. Paul Bailey</a></li>
                <li><a href="#">Jill Balcon</a></li>
                <li><a href="#">Lynda Bellingham</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="accordion--rich">
    <div class="accordion">
        <h2 class="accordion__toggle">Staff</h2>
        <div class="accordion__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, vero, excepturi, corrupti ea temporibus dolores ullam voluptates iusto quae doloremque consequuntur nulla ratione odio corporis enim culpa eius. Laboriosam, et!</p>
            <div class="profile-card__row">
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
            </div>
            <div class="profile-card__row">
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
                <div class="profile-card">
                    <a href="#"><img src="/assets/img/placeholder-image--profile-card.jpg" alt=""></a>
                    <p><a href="#">Peter McAllister, BA, PGDip, MA</a></p>
                    <p>Senior Lecturer, Acting</p>
                </div>
            </div>
        </div>
        <h2 class="accordion__toggle">Current students</h2>
        <div class="accordion__content">
            <p>For over 100 years, many of the most pre-eminent theatre practitioners and performers in the world have been Central alumni. Find out more about our acting alumni:</p>
            <ul>
                <li><a href="#">Joss Ackland</a></li>
                <li><a href="#">Rodney Ackland</a></li>
                <li><a href="#">Nonso Anozie</a></li>
                <li><a href="#">Peggy Ashcroft</a></li>
                <li><a href="#">Juliet Aubrey</a></li>
                <li><a href="#">Mr. Paul Bailey</a></li>
                <li><a href="#">Jill Balcon</a></li>
                <li><a href="#">Lynda Bellingham</a></li>
            </ul>
        </div>
        <h2 class="accordion__toggle">Related courses</h2>
        <div class="accordion__content">
            <h4><a href="#">BA (Hons) Acting - Musical Theatre</a></h4>
            <h4><a href="#">BA (Hons) Acting - Collaborative and Devised Theatre</a></h4>
        </div>
    </div>
</section>
<img src="/assets/img/placeholder-image--unistats.jpg" alt="" style="margin-bottom: 30px;">