<section class="course-list">
    <div class="wrapper">
        <h3>Courses</h3>
        <div class="accordion accordion--mobile-only">
            <div class="half">
                <h4 class="accordion__toggle default--open">Undergraduate</h4>
                <div class="accordion__content">
                    <ul class="nav--link-list__small">
                        <li><a href="#">Acting, BA</a></li>
                        <li><a href="#">Acting (CDT), BA</a></li>
                        <li><a href="#">Acting (Musical Theatre), BA</a></li>
                        <li><a href="#">Drama, Applied Theatre &amp; Education, BA</a></li>
                        <li><a href="#">Costume Construction, BA Theatre Practice</a></li>
                        <li><a href="#">Design for the stage, BA Theatre Practice</a></li>
                        <li><a href="#">Performance Arts, BA Theatre Practice</a></li>
                        <li><a href="#">Production Lighting, BA Theatre Practice</a></li>
                    </ul>
                    <ul class="nav--link-list__small  nav--link-list__split">
                        <li><a href="#">Prop Making, BA Theatre Practice</a></li>
                        <li><a href="#">Puppetry, BA Theatre Practice</a></li>
                        <li><a href="#">Scenic Art, BA Theatre Practice</a></li>
                        <li><a href="#">Scenic Construction, BA Theatre Practice</a></li>
                        <li><a href="#">Stage Management, BA Theatre Practice</a></li>
                        <li><a href="#">Technical and Production Management, BA Theatre Practice</a></li>
                        <li><a href="#">Theatre Lighting Design, BA Theatre Practice</a></li>
                        <li><a href="#">Theatre Sound, BA Theatre Practice</a></li>
                    </ul>
                </div>
            </div>
            <div class="half">
                <h4 class="accordion__toggle">Postgraduate</h4>
                <div class="accordion__content">
                    <ul class="nav--link-list__small">
                        <li><a href="#">Acting - Classical, MA</a></li>
                        <li><a href="#">Acting - Contemporary, MA</a></li>
                        <li><a href="#">Acting for Screen, MA</a></li>
                        <li><a href="#">Actor Training and Coaching, MA</a></li>
                        <li><a href="#">Advanced Theatre Practice, MA</a></li>
                        <li><a href="#">Applied Theatre, MA</a></li>
                        <li><a href="#">Creative Producing, MA/MFA</a></li>
                        <li><a href="#">Drama and Movement Therapy (Sesame), MA</a></li>
                    </ul>
                    <ul class="nav--link-list__small nav--link-list__split">
                        <li><a href="#">Movement Studies, MA</a></li>
                        <li><a href="#">Music Theatre, MA</a></li>
                        <li><a href="#">Performance Practices and Research, MA</a></li>
                        <li><a href="#">Scenography, MA</a></li>
                        <li><a href="#">Theatre Studies (Performance and the City), MA</a></li>
                        <li><a href="#">Voice Studies, MA/MFA</a></li>
                        <li><a href="#">Writing for Stage &amp; Broadcast Media, MA/MFA</a></li>
                        <li><a href="#">Research Degrees (MPhil/PhD)</a></li>
                    </ul>
                </div>
            </div>
            <div class="full">
                <h4 class="accordion__toggle">Other courses</h4>
                    <div class="accordion__content">
                        <ul class="nav--link-list__small">
                            <li><a href="#">Short Courses</a></li>
                            <li><a href="#">Diplomas</a></li>
                            <li><a href="#">Summer School</a></li>
                        </ul>
                        <ul class="nav--link-list__small nav--link-list__split">
                            <li><a href="#">Saturday Morning Youth Theatre</a></li>
                            <li><a href="#">Training Solutions</a></li>
                        </ul>
                        <ul class="nav--link-list__small nav--link-list__split">
                            <li><a href="#">Open Courses</a></li>
                            <li><a href="#">One-to-One Training</a></li>
                        </ul>
                        <ul class="nav--link-list__small nav--link-list__split">
                            <li><a href="#">Schools and Colleges</a></li>
                            <li><a href="#">Communities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>