<section class="cta-list--huge">
    <div class="wrapper">
        <ul>
            <li><a href="#">Advanced Theatre Practice</a></li>
            <li><a href="#">Costume Construction</a></li>
            <li><a href="#">Design for Stage</a></li>
            <li><a href="#">Production Lighting</a></li>
            <li><a href="#">Prop Making</a></li>
            <li><a href="#">Puppetry</a></li>
            <li><a href="#">Scenic Art</a></li>
            <li><a href="#">Scenic Construction</a></li>
            <li><a href="#">Scenography</a></li>
            <li><a href="#">Technical &amp; Production Management</a></li>
        </ul>
    </div>
</section>