<section class="block--standout">
    <h1>Dropdown filter</h1>
    <div class="inner-wrapper--block--standout">
        <div class="accordion accordion--mobile-only">
            <div class="filter--dropdown">
                <form action="#">
                    <legend class="accordion__toggle">Filter news:</legend>
                    <div class="accordion__content">
                        <div class="field-wrapper">
                            <label for="select--month">Month</label>
                            <select name="select--month" id="select--month">
                                <option value="April">April</option>
                            </select>
                        </div>
                        <div class="field-wrapper">
                            <label for="select--year">Year</label>
                            <select name="select--year" id="select--year">
                                <option value="2014">2014</option>
                            </select>
                        </div>
                        <div class="field-wrapper">
                            <label for="select--subject">Subject</label>
                            <select name="select--subject" id="select--subject">
                                <option value="Speech">Speech</option>
                            </select>
                        </div>
                        <div class="form-actions--inline">
                            <input type="submit" value="Apply filters">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>