{% block bodyclass %}
    <body class="no-back-to-top">
{% endblock %}
<section class="block--standout">
    <div class="wrapper">
        <h1>Course finder</h1>
        <p class="block--standout__description">Search and browse our degree courses, professional development and training opportunities</p>
        <div class="inner-wrapper--block--standout">
            <div class="filter--course">
                <form action="#" class="form-strip">
                    <div class="field-wrapper">
                        <label for="input--search-terms">Search for a course</label>
                        <input type="text" name="input--search-terms" id="input--search-terms" placeholder="Enter search terms">
                    </div>
                    <div class="form-actions--inline">
                        <input type="submit" value="Go">
                    </div>
                </form>
                <form action="#">
                    <div class="field-wrapper">
                        <label for="select--course-level">Course level</label>
                        <select name="select--course-level" id="select--course-level">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div class="field-wrapper">
                        <label for="select--subject-area">Subject area</label>
                        <select name="select--subject-area" id="select--subject-area">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div class="field-wrapper">
                        <label for="select--study-mode">Study mode</label>
                        <select name="select--study-mode" id="select--study-mode">
                            <option value="">Please select</option>
                        </select>
                    </div>
                    <div class="form-actions--inline">
                        <input type="submit" value="Go">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>