<section class="block--standout">
    <h1>Checkbox filter</h1>
    <div class="inner-wrapper--block--standout">
        <p><strong>16 January 2014</strong></p>
        <p>On 26 November, a group of Central Alumna performed alongside a line-up of some of the world’s biggest music stars including Jon Bon Jovi and Taylor Swift at the Winter Whites Gala.</p>
        <div class="accordion accordion--mobile-only">
            <div class="filter--checkbox">
                <form action="#">
                    <legend class="accordion__toggle">Filter items:</legend>
                    <div class="accordion__content">
                        <div class="field-wrapper">
                            <input type="checkbox" name="student-productions" id="student-productions">
                            <label for="student-productions">Student Productions</label>
                        </div>
                        <div class="field-wrapper">
                            <input type="checkbox" name="research-events" id="research-events">
                            <label for="research-events">Research Events</label>
                        </div>
                        <div class="field-wrapper">
                            <input type="checkbox" name="alumni-events" id="alumni-events">
                            <label for="alumni-events">Alumni Events</label>
                        </div>
                        <div class="field-wrapper">
                            <input type="checkbox" name="industry-events" id="industry-events">
                            <label for="industry-events">Industry Events</label>
                        </div>
                        <div class="field-wrapper">
                            <input type="checkbox" name="international-auditions" id="international-auditions">
                            <label for="international-auditions">International Auditions and Interviews</label>
                        </div>
                        <div class="form-actions">
                            <a href="#" class="toggle--checkboxes">Toggle all</a>
                            <input type="submit" value="Go">
                            <a href="#" class="action--alt">View past events</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>