<footer class="footer--primary">
    <div class="wrapper">
        <a href="#" class="button--back-to-top">Top</a>
        <div class="footer--primary__group ">
            <h3>Staff and Student tools</h3>
            <ul class="nav--link-list__tiny">
                <li><a href="#">Webmail</a></li>
                <li><a href="#">Athens</a></li>
                <li><a href="#">Portal</a></li>
            </ul>
            <ul class="nav--link-list__tiny nav--link-list__split">
                <li><a href="#">Learnzone</a></li>
                <li><a href="#">Reset password</a></li>
            </ul>
        </div>
        <div class="footer--primary__group">
            <nav class="nav--link-list__tight">
                <ul>
                    <li><a href="#">About Central</a></li>
                    <li><a href="#">Student profiles</a></li>
                    <li><a href="#">Performance &amp; events</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Support us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    {% include "course-list" %}
    {% include "contact-info" %}
    
</footer>