<section class="listing--profile">
    <div class="wrapper">
        <h1>Student profiles</h1>
        <ul class="listing--profile__items">
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Alec Drake</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Callum Robertson</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Christina Engelbrecht</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Euan Fergus</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Imogen Sage</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Jack Farrar</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Jessica Davie</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Madeleine Rose</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Maeve O'Sullivan</a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/placeholder-image--listing--profile.jpg" alt="">
                </a>
                <a href="#">Milly Thomas</a>
            </li>
        </ul>
    </div>
</section>
