<section class="listing--small">
    <h2>Cast</h2>
    <ul class="listing--small__items">
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing--cast__thumb.jpg" alt=""></a>
            <div class="no-wrap">
                <h3>Mark</h3>
                <a href="#">Jack Farrar</a>
            </div>
        </li>
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing--cast__thumb.jpg" alt=""></a>
            <div class="no-wrap">
                <h3>Mark</h3>
                <a href="#">Jack Farrar</a>
            </div>
        </li>
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing--cast__thumb.jpg" alt=""></a>
            <div class="no-wrap">
                <h3>Mark</h3>
                <a href="#">Jack Farrar</a>
            </div>
        </li>
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing--cast__thumb.jpg" alt=""></a>
            <div class="no-wrap">
                <h3>Mark</h3>
                <a href="#">Jack Farrar</a>
            </div>
        </li>
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing--cast__thumb.jpg" alt=""></a>
            <div class="no-wrap">
                <h3>Mark</h3>
                <a href="#">Jack Farrar</a>
            </div>
        </li>
    </ul>
</section>