<section class="listing--standard">
    <h2>News listing</h2>
    <ul class="listing--standard__items">
        <li>
            <div class="no-wrap">
                <h3>16 Jan 2013</h3>
                <a href="#">Central students and alumni perform across the capital for charity</a>
            </div>
        </li>
        <li>
            <a href="#"><img src="/assets/img/placeholder-image--listing.jpg" title="Image 1 caption"></a>
            <div class="no-wrap">
                <h3>16 Jan 2013</h3>
                <a href="#">Central students and alumni perform across the capital for charity</a>
                <p>Student productions</p>
            </div>
        </li>
        <li>
            <div class="no-wrap">
                <h3>16 Jan 2013</h3>
                <a href="#">Central students and alumni perform across the capital for charity</a>
            </div>
        </li>
    </ul>
</section>