<section class="listing--small">
    <ul class="listing--small__items">
        <li>
            <div class="no-wrap">
                <a href="#">Fees and funding</a>
                <p>Information for home, EU, and non-EU student</p>
            </div>
        </li>
        <li>
            <div class="no-wrap">
                <a href="#">Open days</a>
                <p>Information for home, EU, and non-EU student</p>
            </div>
        </li>
        <li>
            <div class="no-wrap">
                <a href="#">How to apply</a>
                <p>Applications and the interview process</p>
            </div>
        </li>
    </ul>
</section>