<section class="media-header">
    <div class="wrapper">
        <div class="media-header__container">
            <div class="media-header__banner">
                <div class="media-header__title">
                    <h1>Life at Central</h1>
                    <div class="media-header__caption">
                        <p class="media-header__caption-date">21st April 2014</p>
                        <p>Royal Central School of Speech and Drama is the University of London’s drama conservatoire. Whether you come primarily to train or to study you will be part of a distinctively energetic learning environment, where the practical intensity of conservatoire <a href="#">training</a> and the innovation and enquiry of a university meet.</p>
                        <ul class="media-header__caption-links">
                            <li><a href="#">BA Puppetry</a></li>
                            <li><a href="#">MA Puppetry</a></li>
                        </ul>
                    </div>
                    <nav class="nav--page-controls">
                        <ul>
                            <li class="nav--page-controls__prev"><a href="#">Prop making</a></li>
                            <li class="nav--page-controls__next"><a href="#">Scenic art</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="media-header__image" title="Test image caption"><img src="/assets/img/placeholder-image--media-header.jpg" ></a>
                <a href="#" class="media-header__cta">View all events</a>
                {% comment %}<div class="media-header__video">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/565thPPYYgs" frameborder="0" allowfullscreen></iframe>
                </div>{% endcomment %}
            </div>
            {% include "nav--secondary" %}
        </div>
    </div>
</section>