<section class="media-header--alt">
    <div class="wrapper">
        <div class="media-header__container">
            <div class="media-header__banner">
                <div class="media-header__title">
                    <h1>Alec Drake</h1>
                    <div class="media-header__caption">
                        <p><strong>Course</strong></p>
                        <p>BA Acting - Acting</p>
                        <br>
                        <p><strong>Personal details</strong></p>
                        <p>Height: 6'2"</p>
                        <p>Eyes: Dark Brown</p>
                        <p>Hair: Dark Brown</p>
                        <p>Voice: Bass</p>
                    </div>
                </div>
                <img class="media-header__image" src="/assets/img/placeholder-image--media-header--alt.jpg" >
            </div>
        </div>
    </div>
</section>