<section class="media-header">
    <div class="wrapper">
        <div class="media-header__container">
            <div class="media-header__banner">
                <div class="media-header__title">
                    <h1>BA (Hons) Acting - Acting</h1>
                    <div class="media-header__caption">
                        <p>Duration: 3 years full time, October start</p>
                        <p>UCAS code: institution C35 course W410 indicating option AP</p>
                        <p>Award: BA (Hons) Acting. Accredited by Drama UK. Students are entitled to full Equity status upon graduation.</p>
                    </div>
                </div>
                <a href="#" class="media-header__image" title="Production title and photo credit"><img src="/assets/img/placeholder-image--media-header__course.jpg" ></a>
            </div>
        </div>
    </div>
</section>