<section class="nav--utility">
    <div class="wrapper">
        <nav class="nav--utility__menu">
            <ul>
                <li class="search--global">
                    <form action="#">
                        <label for="search--global__input">Search</label>
                        <input type="text" name="search--global__input" class="search--global__input" id="search--global__input" placeholder="Search">
                        <button class="search--global__submit" type="submit">s</button>
                    </form>
                </li>
                <li><a href="#">All courses</a></li>
                <li><a href="#">Student profiles</a></li>
                <li><a href="#">Support us</a></li>
                <li><a href="#">Alumni</a></li>
                <li class="dropdown--desktop">
                    <a href="#">Central Connects to</a>
                    <ul class="dropdown--desktop__content">
                        <li><a href="#">Business and industry</a></li>
                        <li><a href="#">Schools and colleges</a></li>
                        <li><a href="#">Communities</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>