<div class="accordion accordion--mobile-only nav--secondary">
    <h2 class="accordion__toggle">In this section:</h2>
    <div class="accordion__content">
        <nav class="nav--secondary__menu">
            <ul>
                <li><a href="#">Accommodation support</a></li>
                <li><a href="#">Managing your finances</a></li>
                <li><a href="#">Counselling</a></li>
            </ul>
        </nav>
        <nav class="nav--secondary__menu nav--link-list__split">
            <ul>
                <li><a href="#">Disability and dyslexia</a></li>
                <li><a href="#">Learning skills</a></li>
                <li><a href="#">Another subsection</a></li>
            </ul>
        </nav>
        <nav class="nav--secondary__menu nav--link-list__split">
            <ul>
                <li><a href="#">Another section</a></li>
                <li><a href="#">Another section</a></li>
                <li><a href="#">Another section</a></li>
            </ul>
        </nav>
    </div>
</div>