<section class="nav--primary">
    <div class="wrapper">
        <nav class="nav--primary__menu">
            <ul>
                <li><a href="#">Acting, voice &amp; movement</a></li>
                <li><a href="#">Creative, design &amp; production</a></li>
                <li><a href="#">Drama &amp; applied theatre</a></li>
                <li><a href="#">Life at Central</a></li>
            </ul>
        </nav>
    </div>
</section>