<div class="listing--half">
    <h2>News</h2>
    <ul class="listing--standard__items">
        <li>
            <div class="no-wrap">
                <h3>16 Jan 2013</h3>
                <a href="#">Central students and alumni perform across the capital for charity</a>
            </div>
        </li>
        <li>
            <div class="no-wrap">
                <a href="#">View all news</a>
            </div>
        </li>
    </ul>
</div>
<div class="listing--half">
    <h2>Events</h2>
    <ul class="listing--standard__items">
        <li>
            <div class="no-wrap">
                <h3>8 Feb 2014</h3>
                <a href="#">San Fransisco auditions/interviews</a>
            </div>
        </li>
        <li>
            <div class="no-wrap">
                <a href="#">View all events</a>
            </div>
        </li>
    </ul>
</div>