<section class="page-leads">
    <div class="wrapper">
        <div class="wrapper--inner">
            <h2>International Students</h2>
            <div class="page-leads__rte">
                <img src="/assets/img/placeholder-image--page-lead.jpg" alt="">
                <p>The Student Centre is the first port of call for all non-academic student enquiries and offers assistance with many aspects of student life including managing finance, accommodation and counselling.</p>
            </div>
            <nav class="page-leads__menu">
                <ul>
                    <li><a href="#">Accommodation support</a></li>
                    <li><a href="#">Managing your finances</a></li>
                    <li><a href="#">Counselling</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>