<section class="rte">
    <h2>Training</h2>
    <table>
        <tbody>
            <tr>
                <td><strong>1924-1926</strong></td>
                <td>Royal Central School of Speech and Drama, BA (Hons) Acting</td>
            </tr>
            <tr>
                <td><strong>1923-1924</strong></td>
                <td>Bristol Old Vic Theatre School, One Year Overseas Course</td>
            </tr>
            <tr>
                <td><strong>1921-1923</strong></td>
                <td>Studio 5, One Year Conservatory in Michael Checkhov and Balinese Mask</td>
            </tr>
        </tbody>
    </table>
    <h2>Productions at Central</h2>
    <p>
        1926   1st Serving Man, Henry V, (Bill Buckhurst)<br>
        1926   Guard, Oedipus Tyrannus, (Claudette Williams)<br>
        1926   2nd Policeman, The Ghost Train, (Patrick Toomey)<br>
        1925   Minstrel, The Marvellous History of Saint Bernard, (Nick Moseley)<br>
        1925   Gentleman/Various, The Merchant of Venice, (Tim Hardy)<br>
        1925   Master Snare, Henry IV, Part 2, (Nick Moseley)<br>
        1925  Dr. Prentice, What the Butler Saw, (Nick Moseley)<br>
        1924   Servant to Orsino, The Cenci, (Peter McAllister)<br>
        1924   Gaev, The Cherry Orchard, (Peter McAllister)<br>
        1924   Young Man, The Adding Machine, (Peter McAllister)
    </p>
    <h2>Experience</h2>
    <h3>Short film</h3>
    <p>1957   Charles, The Prince Regent, The Prince and the Showgirl, Columbia, (Eric Sopko)</p>
    <h3>Film</h3>
    <p>1960 Archie Rice, The Entertainer, Ragnbone Productions, (Arthur Collins)</p>
    <h3>Acting in theatre</h3>
    <p>1971 James Tyrone, Long Day’s Journey Into Night, National Theatre, (Per Brahe)</p>
    <p>1970 Shylock, The Merchant of Venice, American Theatre of Actors, American Theatre of Actors, (James Jennings)</p>
    <h3>Additional training</h3>
    <p>2007 Valentine, You Never Can Tell, Bristol Old Vic, New Vic Theatre, (Elwyn Johnson)</p>
    <p>2007 Richard, Hay Fever, Bristol Old Vic Theatre School, New Vic Theatre, (Elwyn Johnson)</p>
    <p>2007 Chaucer/Chanticleer, The Canterbury Tales, Bristol Old Vic Theatre School, Bristol Old Vic Theatre School, (Elwyn Johnson)</p>
    <h3>Accents</h3>
    <p>RP, General American (Native), Southern American</p>
    <h3>Skills</h3>
    <p>Dentistry, Theatre Founder, Fitness, Running, Singing Range: Bass, Driving (Car), Mask,</p>
</section>
<div class="video--responsive">
    <iframe width="560" height="315" src="//www.youtube.com/embed/yABHEfpWYeo" frameborder="0" allowfullscreen></iframe>
</div>
