<section class="rte">
    <h1>RTE Profile content</h1>
    <h2>Training</h2>
    <table>
        <tbody>
            <tr>
                <td><strong>2011-2014</strong></td>
                <td>Royal Central School of Speech and Drama, BA (Hons) Acting</td>
            </tr>
            <tr>
                <td><strong>2006-2007</strong></td>
                <td>Bristol Old Vic Theatre School, One Year Overseas Course</td>
            </tr>
            <tr>
                <td><strong>2007-2009</strong></td>
                <td>Studio 5, One Year Conservatory in Michael Checkhov and Balinese Mask</td>
            </tr>
        </tbody>
    </table>
    <h2>Productions at Central</h2>
    <p>
        2013 John of Gaunt, Richard II, (Bill Buckhurst)<br>
        2013 Agamemnon, Orestia, (Claudette Williams)<br>
        2013 Young Clerimont, The Beau Defeated, (Patrick Toomey)<br>
        2013 Capulet, Romeo and Juliet, (Nick Moseley)<br>
        2012 Telegraph Boy/Various, The Skin of our Teeth, (Tim Hardy)<br>
        2012 Mitch, A Streetcar Named Desire, (Nick Moseley)<br>
        2012 Dr. Prentice, What the Butler Saw, (Nick Moseley)<br>
        2011 Antonio, The Merchant of Venice, (Peter McAllister)<br>
        2011 Gaev, The Cherry Orchard, (Peter McAllister)<br>
        2011 David, Handbag, (Peter McAllister)
    </p>
    <h2>Experience</h2>
    <h3>Short film</h3>
    <p>2012 Peter/Desperado, Dream Squad, Art Institute of Pittsburgh, (Eric Sopko)</p>
    <h3>Film</h3>
    <p>2012 Nathan, House of the Wrong Side of the Tracks, Ragnbone Productions, (Arthur Collins)</p>
    <h3>Acting in theatre</h3>
    <p>2009 Vincent Van Gogh, Vincent, Studio 5, Studio 5, (Per Brahe)</p>
    <p>2008 Bardolph, Merry Wives of Windsor, American Theatre of Actors, American Theatre of Actors, (James Jennings)</p>
    <h3>Additional training</h3>
    <p>2007 Valentine, You Never Can Tell, Bristol Old Vic, New Vic Theatre, (Elwyn Johnson)</p>
    <p>2007 Richard, Hay Fever, Bristol Old Vic Theatre School, New Vic Theatre, (Elwyn Johnson)</p>
    <p>2007 Chaucer/Chanticleer, The Canterbury Tales, Bristol Old Vic Theatre School, Bristol Old Vic Theatre School, (Elwyn Johnson)</p>
    <h3>Accents</h3>
    <p>RP, General American (Native), Southern American</p>
    <h3>Skills</h3>
    <p>BASSC Stage Combat Level 1, Fitness, Running, Singing Range: Bass, Driving (Car), Mask</p>
    <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/9561670&amp;color=ea1e06&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=true"></iframe>
</section>
