<section class="rte">
    <h2>Event dates</h2>
    <p>11 February 7.30pm</p>
    <p>12 February 2.30pm</p>
    <p>12 February 7.30pm</p>
    <p>13 February 2.30pm</p>
    <p>13 February 7.30pm</p>
    <h3><a href="#">Book online</a></h3>
</section>
