<section class="rte">
    <h2>About the course</h2>
    <p>The philosophy of this programme can be summed up by the words ‘imagination’, ‘embodiment’, and ‘interaction’.</p>
    <p>The training seeks to develop the actor’s body and voice as strong and effective communicators of thought, emotion and intention, and to develop the imagination so that the actor can create and sustain three-dimensional worlds out of the playwright’s text.</p>
    <p>These processes invariably take place in an interactive context, so that the actor is constantly learning to respond to outside stimuli - whether from people, objects or atmosphere – in an open and uncensored way.</p>
</section>