<section class="rte">
    <h2>Overview</h2>
    <p>The BA (Hons) Acting offers comprehensive classical and contemporary actor training. This demanding programme will nurture you through a life-changing journey, in which you will be challenged to achieve your full potential as an actor and will acquire the skills for working in the full range of acting contexts.</p>
</section>