<section class="rte">
    <h1>RTE Event content</h1>
    <h2>About the event</h2>
    <p>As the second decade of the 21st century dawns, the Greenham Common generation is in crisis. Now fifty-something, they’re dealing with panic attacks, the onset of old age, weight-gain, sexual decline and the incomprehensibility of their teenage children.</p>
    <p>As the mid-life crises gather pace, the roles reverse, and it’s the teenagers who are taking control of their lives, while their parents are left literally and metaphorically groping in the dark.</p>
    <p>This darkly funny play about parenting and growing older is a tour de force of wit and incisive observation.</p>
    <h3>Devised</h3>
    <p><strong>DIRECTOR:</strong> Ed Goggin<br>
    <strong>MUSICAL DIRECTOR:</strong> Paul Barker</p>
    <p>Performed by <a href="#">MA Music Theatre Students</a></p>
    <p>Tickets: &pound;10 (&pound;5 concessions</p>
    <p>Box Office opens 13 January<br>
    Monday-Friday, 10.00am-4.30pm<br>
    Saturday, 12.00pm-2.30pm<br>
    Additional opening on performance nights, 6.00pm-7.30pm</p>
    <h2>Booking</h2>
    <h3><a href="#">Book online</a></h3>
    <p>Telephone: 020 7722 8183<br>
    Email: <a href="#">boxoffice@cssd.ac.uk</a></p>
    <p>Tickets should be collected 15 minutes prior to the start of the performance.<br>
    Latecomers may not be admitted until a suitable break in the performance.<br>
    Please note seating is limited in the Webber Douglas Studio</p>
</section>
