<section class="rte">
    <h1>RTE General content</h1>
    <p>Student Support at Central is provided by the Student Centre and the Learning Centre. The Student Centre focuses on accommodation, counselling and managing finances whilst the Learning Centre provides assistance with disability and dyslexia.</p>
    <h2>Accommodation</h2>
    <p>The Student Centre offers information and support to students who are looking for somewhere to live through a network of accommodation services. The Student Centre produces its own <a href="#">guidance material</a>, which is sent to incoming students. The Student Centre is open all-year round to assist students with a variety of enquiries once they have moved in to their accommodation.</p>
    <h1><a href="#">Heading 1</a></h1>
    <h2><a href="#">Heading 2</a></h2>
    <h3><a href="#">Heading 3</a></h3>
    <h4><a href="#">Heading 4</a></h4>
    <h5><a href="#">Heading 5</a></h5>
    <h6><a href="#">Heading 6</a></h6>
    <img src="/assets/img/placeholder-image--page-lead.jpg" alt="">
    <ul>
        <li><a href="#">Unordered List Item with Link</a></li>
        <li>Unordered List Item</li>
        <li>Unordered List Item</li>
    </ul>
    <ol>
        <li><a href="#">Ordered List Item with Link</a></li>
        <li>Ordered List Item</li>
        <li>Ordered List Item</li>
    </ol>
</section>