<section class="site-error">
    <h1>Error 404</h1>
    <h2>Oops! Something went wrong there.</h2>
    <p>Sorry, but the page you requested could not be found.</p>
    <p>Find what you're looking for using the links below, or go <a href="#" onclick="history.back(-1); return false;">back</a></p>
</section>