<section class="social-links">
    <ul class="links inline">
        <li class="service-links-facebook">
            <a class="service-links-facebook" href="#">facebook</a>
        </li>
        <li class="service-links-twitter">
            <a class="service-links-twitter" href="#">twitter</a>
        </li>
        <li class="service-links-youtube">
            <a class="service-links-youtube" href="#">youtube</a>
        </li>
        <li class="service-links-linkedin">
            <a class="service-links-linkedin" href="#">linkedin</a>
        </li>
        <li class="service-links-pinterest">
            <a class="service-links-pinterest" href="#">pinterest</a>
        </li>
        <li class="service-links-google-plus">
            <a class="service-links-google-plus" href="#">google plus</a>
        </li>
        <li class="service-links-printmail">
            <a class="service-links-printmail" href="#">printmail</a>
        </li>
    </ul>
</section>