<section class="theme-header">
    <div class="wrapper">
        <div class="theme-header__container">
            <div class="accordion accordion--horizontal">
                <div class="wrapper--accordion__toggle toggle--first">
                    <img src="/assets/img/placeholder-image--theme-header.jpg" alt="">
                    <h2 class="accordion__toggle"><span>Creative</span></h4>
                </div>
                <div class="accordion__content">
                    <div class="half">
                        <ul>
                            <li><a href="#">Advanced Theatre Practice, MA</a></li>
                            <li><a href="#">Creative Producing, MA/MFA</a></li>
                            <li><a href="#">Performance Practices and Research, MA</a></li>
                            <li><a href="#">Scenography, MA</a></li>
                            <li><a href="#">Applied Theatre, MA</a></li>
                            <li><a href="#">Writing for Stage and Broadcast Media, MA/MFA</a></li>
                            <li><a href="#">Theatre Studies (Performance and City), MA</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Performance Arts, BA</a></li>
                            <li><a href="#">Puppetry, BA</a></li>
                            <li><a href="#">Scenic Art, BA</a></li>
                        </ul>
                    </div>
                    <div class="half">
                        <ul>
                            <li><a href="#">Scenic Construction, BA</a></li>
                            <li><a href="#">Costume Construction, BA</a></li>
                            <li><a href="#">Design for Stage, BA</a></li>
                            <li><a href="#">Theatre Lighting Design, BA</a></li>
                            <li><a href="#">Theatre Sound, BA</a></li>
                            <li><a href="#">Prop Making, BA</a></li>
                            <li><a href="#">Drama, Applied Theatre and Education, BA</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Research Degrees (MPhil/PhD)</a></li>
                            <li><a href="#">Diplomas</a></li>
                            <li><a href="#">Short Courses</a></li>
                            <li><a href="#">Summer Schools</a></li>
                        </ul>
                    </div>
                    <button class="button--close">x</button>
                </div>
                <div class="wrapper--accordion__toggle toggle--second">
                    <img src="/assets/img/placeholder-image--theme-header.jpg" alt="">
                    <h2 class="accordion__toggle"><span>Design</span></h4>
                </div>
                <div class="accordion__content">
                    <ul>
                        <li><a href="#">Advanced Theatre Practice, MA</a></li>
                        <li><a href="#">Creative Producing, MA/MFA</a></li>
                        <li><a href="#">Performance Practices and Research, MA</a></li>
                        <li><a href="#">Scenography, MA</a></li>
                        <li><a href="#">Applied Theatre, MA</a></li>
                        <li><a href="#">Writing for Stage and Broadcast Media, MA/MFA</a></li>
                        <li><a href="#">Theatre Studies (Performance and City), MA</a></li>
                    </ul>
                    <button class="button--close">x</button>
                </div>
                <div class="wrapper--accordion__toggle toggle--third">
                    <img src="/assets/img/placeholder-image--theme-header.jpg" alt="">
                    <h2 class="accordion__toggle"><span>Production</span></h4>
                </div>
                <div class="accordion__content">
                    <ul>
                        <li><a href="#">Advanced Theatre Practice, MA</a></li>
                        <li><a href="#">Creative Producing, MA/MFA</a></li>
                        <li><a href="#">Performance Practices and Research, MA</a></li>
                        <li><a href="#">Scenography, MA</a></li>
                        <li><a href="#">Applied Theatre, MA</a></li>
                        <li><a href="#">Writing for Stage and Broadcast Media, MA/MFA</a></li>
                        <li><a href="#">Theatre Studies (Performance and City), MA</a></li>
                    </ul>
                    <button class="button--close">x</button>
                </div>
            </div>
        </div>
    </div>
</section>