<section class="theme">
    <div class="wrapper">
        <div class="theme__row">
            <h2>Staff</h2>
            <div class="theme__block--text">
                <p>All academic staff embody the teaching and learning excellence that Central is known for, giving students and unparalleled opportunity to learn and train with the very best the drama, theatre and media industries and higher education can offer.</p>
                <a href="#">View all acting and performance staff</a>
            </div>
            <div class="theme__block--image" style="background-image: url(/assets/img/placeholder-image--theme.jpg);">
                <img src="/assets/img/placeholder-image--theme.jpg" alt="">
            </div>
        </div>
        <div class="theme__row theme__row--switched">
            <h2>Staff</h2>
            <div class="theme__block--text">
                <p>All academic staff embody the teaching and learning excellence that Central is known for, giving students and unparalleled opportunity to learn and train with the very best the drama, theatre and media industries and higher education can offer.</p>
                <a href="#">View all acting and performance staff</a>
            </div>
            <div class="theme__block--image" style="background-image: url(/assets/img/placeholder-image--theme.jpg);">
                <img src="/assets/img/placeholder-image--theme.jpg" alt="">
            </div>
        </div>
        <div class="theme__row accordion accordion--mobile-only">
            <h2 class="accordion__toggle default--open">Staff</h2>
            <div class="accordion__content">
                <div class="theme__block--text">
                    <p>All academic staff embody the teaching and learning excellence that Central is known for, giving students and unparalleled opportunity to learn and train with the very best the drama, theatre and media industries and higher education can offer.</p>
                    <a href="#">View all acting and performance staff</a>
                </div>
                <div class="theme__block--image" style="background-image: url(/assets/img/placeholder-image--theme.jpg);">
                    <img src="/assets/img/placeholder-image--theme.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="theme__row theme__row--switched accordion accordion--mobile-only">
            <h2 class="accordion__toggle">Staff</h2>
            <div class="accordion__content">
                <div class="theme__block--text">
                    <p>All academic staff embody the teaching and learning excellence that Central is known for, giving students and unparalleled opportunity to learn and train with the very best the drama, theatre and media industries and higher education can offer.</p>
                    <a href="#">View all acting and performance staff</a>
                </div>
                <div class="theme__block--image" style="background-image: url(/assets/img/placeholder-image--theme.jpg);">
                    <img src="/assets/img/placeholder-image--theme.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="theme__row">
            <div class="theme__block--text-alpha">
                <h2>Staff</h2>
                <a href="#">BA Puppetry</a>
                <a href="#">MA Puppetry</a>
            </div>
            <div class="theme__block--text-beta">
                <h2>Staff</h2>
                <a href="#">Costume Production</a>
                <a href="#">Prop Making</a>
            </div>
        </div>
        <div class="theme__row">
            <div class="theme__block--listing">
                <h2>News</h2>
                <ul class="listing--standard__items">
                    <li>
                        <div class="no-wrap">
                            <h3>16 Jan 2013</h3>
                            <a href="#">Central students and alumni perform across the capital for charity</a>
                        </div>
                    </li>
                    <li>
                        <div class="no-wrap">
                            <a href="#">View all news</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="theme__block--listing">
                <h2>Events</h2>
                <ul class="listing--standard__items">
                    <li>
                        <div class="no-wrap">
                            <h3>16 Jan 2013</h3>
                            <a href="#">Central students and alumni perform across the capital for charity</a>
                        </div>
                    </li>
                    <li>
                        <div class="no-wrap">
                            <a href="#">View all events</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% comment %}<div class="theme__row theme__row--switched">
            <div class="theme__block--text">
                <h2>Research</h2>
                <p>Research at Royal Central addresses various domains of knowledge, including artistic creation, advanced technical capability, social application and performance theory.</p>
                <a href="#">View all acting and performance research projects</a>
            </div>
            <div class="theme__block--video">
                <iframe width="560" height="315" src="//www.youtube.com/embed/565thPPYYgs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>{% endcomment %}
    </div>
</section>