.accordion--rich {
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
    .accordion__toggle {
        font-size: em(22px);
        &.open {
            background-color: $base--background-color;
            + .accordion__content + .accordion__toggle {
                border-top: 1px solid $base--background-color;
                &.open {
                    border-top: 1px solid #fff;
                }
            }
        }
        ~ .accordion__toggle {
            border-top: 1px solid $base--border-color;
            &.open {
                border-top: 1px solid $base--background-color;
            }
        }
        &::after {
            font-size: em(18px, 22px);
        }
    }
    .accordion__content {
        @extend %rte;
        @include prefix(transition, background-color .2s ease-out);
        margin-bottom: 0;
        padding: 0 20px 20px;
        &.open {
            background-color: $base--background-color;
        }
        ul {
            margin: 0;
            li {
                list-style: none;
                @include media-query(tablet-up) {
                    float: left;
                    width: 35%;
                    margin-right: 10px;
                }
            }
            a {
                font-family: $fogerty--solid;
            }
        }
        .profile-card {
            img {
                margin-bottom: 12px;
            }
        }
        @include media-query(tablet-up) {
            p:first-child {
                font-size: em(16px);
            }   
        }
    }
    @include media-query(tablet-up) {
        margin-left: 0;
        margin-right: 0;
    }
}