.breadcrumb {
    display: none;
    @include media-query(tablet-up) {
        display: block;
        margin: 20px 0;
        overflow: hidden;       
    }
}

.breadcrumb__menu li {
    float: left;
    font-size: em(12px);
    + li {
        margin-left: 8px;
        &::before {
            @include central-icon(arrow-right);
            font-size: em(12px);
            margin-right: 8px;
        }
    }
}

.breadcrumb__menu a {
    @extend %link--dark;
}