.carousel--primary {
    margin-bottom: 20px;
    @include media-query(tablet-up) {
        margin-bottom: 30px;
    }
}

.carousel--primary__thumb-slides {
    padding: 0 46px;
    position: relative;
    margin-top: 2px;
    .no-js & {
        display: none;
    }
    .bx-prev,
    .bx-next {
        @include image-replacement();
        @include prefix(transition, all .2s ease-out);
        display: block;
        position: absolute;
        width: 44px;
        height: 100%;
        top: 0;
        background-color: $base--brand-color;
        color: #fff;
        &::after {
            font-size: em(20px);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -10px;
            margin-left: -5px;
        }
        &:hover,
        &:active,
        &:focus {
            background-color: darken($base--brand-color, 10%);
        }
    }
    .bx-prev {
        left: 0;
        &::after {
            @include central-icon(arrow-left);
        }
    }
    .bx-next {
        right: 0;
        &::after {
            @include central-icon(arrow-right);
        }
    }
}

.carousel--primary__thumb {
    a::before {
        @include prefix(transition, all .2s ease-out);
        background-color: rgba(0, 0, 0, 0);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.active a::before {
        background-color: rgba(0, 0, 0, .6);
    }
}

.carousel--primary__slide {
    position: relative;
    .no-js & + .carousel--primary__slide {
        display: none;
    }
    .bx-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);        
        color: #fff;
        padding: 12px 20px;
    }
}