.contact-info {
    .social-links--small {
        margin-left: 20px;
    }
    h3 {
        @include prefix(text-shadow, 0 0 1px rgba($base--text-color, .2));
        font-size: 1em;
        font-family: $fogerty--solid;
        color: $base--text-color;
        display: block;
        padding: 8px 20px 0;
    }
    p {
        font-size: em(14px);
        margin: 0 20px;
        @include media-query(tablet-up) {
            margin: 0;
        }
    }
    .wrapper > a {
        @extend %link--bright;
        text-transform: uppercase;
        font-family: $fogerty--solid;
        font-size: em(12px);
        margin: 0 20px;
        display: block;
        @include media-query(tablet-up) {
            margin: 0;
        }
    }
    @include media-query(tablet-up) {
        padding-top: 10px;
        .social-links--small {
            margin-left: 0;
        }
    }
}