.course-list {
    background-color: $base--background-color;
    border-top: 1px solid $base--border-color;
    border-bottom: 1px solid $base--border-color;
    .accordion__toggle {
        &::after {
            width: em(16px, 14px);
            height: em(10px, 14px);
        }
    }
    .accordion > div + div .accordion__toggle {
        border-top: 1px solid $base--border-color;
        @include media-query(tablet-up) {
            border-top: 0;
        }
    }
    @include media-query(tablet-up) {
        padding: 5px 0 8px;
        .half {
            width: 50%;
            float: left;
            padding-right: 10px;
            + .half {
                padding-left: 10px;
                padding-right: 0;
            }
            .nav--link-list__small {
                width: 50%;
                float: left;
                padding-right: 10px;
                + .nav--link-list__small {
                    padding-left: 10px;
                    padding-right: 0;
                }
            }
        }
        .full {
            clear: both;
            .nav--link-list__small {
                width: 25%;
                float: left;
                padding-right: 10px;
                + .nav--link-list__small {
                    padding-left: 10px;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}