.filter--checkbox {
    .toggle--checkboxes {
        float: left;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .action--alt {
        float: left;
        margin-left: 20px;
    }
    input[type=submit] {
        float: left;
        clear: both;
    }
    @include media-query(tablet-up) {
        .field-wrapper {
            width: 50%;
            padding-right: 20px;
        }
        input[type=submit] {
            float: right;
            clear: none;
        }
        .action--alt {
            float: right;
            margin-top: 12px;
            margin-left: 0;
            margin-right: 20px;         
        }
    }
}