.filter--course {
    .field-wrapper {
        padding: 0 20px;
        + .field-wrapper {
            margin-top: 15px;
        }
    }
    .form-actions--inline {
        margin: 20px;
    }
    form {
        padding-top: 15px;
        overflow: hidden;
        + form {
            border-top: 1px solid $base--border-color;
        }
    }
    @include media-query(tablet-up) {
        .form-actions--inline {
            margin-top: 34px;
        }
        .field-wrapper {
            padding: 0 0 20px 20px;
            width: 27%;
            + .field-wrapper {
                margin-top: 0;
            }
        }
        .form-strip {
            .field-wrapper {
                width: 81%;
            }
            label {
                width: 40%;
                font-size: em(22px);
                margin: 6px 0 0;
                padding-right: 20px;
            }
            input[type=text] {
                clear: none;
                width: 60%;
            }
            .form-actions--inline {
                margin-top: 0;
            }
        }
    }
}