.filter--dropdown {
    select {
        width: 100%;
    }
    .field-wrapper + .field-wrapper {
        margin-top: 15px;
    }
    .form-actions--inline {
        margin-top: 34px;
    }
    @include media-query(tablet-up) {
        .field-wrapper {
            max-width: 25%;
            margin-right: 20px;
        }
        .field-wrapper + .field-wrapper {
            margin-top: 0;
        }
        .form-actions--inline {
            max-width: 25%;
        }
    }
}