.field-wrapper {
    float: left;
    clear: left;
    width: 100%;
    input[type=submit] {
        float: left;
        clear: left;
    }
    .label--blank {
        display: none;
    }
    @include media-query(tablet-up) {
        clear: none;
        width: auto;
        .label--blank {
            display: block;
            visibility: hidden;
        }
    }
}

.form-actions {
    clear: both;
    a {
        @extend %link--bright;
        font-family: $fogerty--solid;
        font-size: em(14px);
        margin-top: 10px;
    }
}

.form-actions--inline {
    display: inline-block;
}

.form--standard {
    margin-bottom: 10px;
    .field-wrapper {
        clear: both;
        width: 100%;
        margin-bottom: 20px;
    }
    label {
        font-family: $freight-sans--medium;
    }
    p {
        margin-bottom: 20px;
    }
}

.field-wrapper.error input,
.field-wrapper.error select,
.field-wrapper.error textarea,
input.error,
select.error,
textarea.error {
    background-color: #fbd2cd;
    border-color: #444;
}

select.error {
    background-image: url(../img/icon--select-arrow__error.png);
    @include media-query-hidpi() {
        background-image: url(../img/icon--select-arrow__error--hidpi.png);
        background-size: 28px 42px;
    }
}

.field-wrapper.error label,
label.error {
    color: #d53e2d;
    font-weight: bold;
}

.alert--error {
    float: left;
    color: #d53e2d;
    font-weight: bold;
    font-size: em(14px);
    background-color: #fbd2cd;
    padding-right: 10px;
    &::before {
        vertical-align: middle;
        content: '!';
        display: inline-block;
        color: #fff;
        background-color: #444;
        padding: 0 12px;
        margin-right: 10px;
        font-size: em(24px, 14px);
    }
}

.fieldset-wrapper {
    width: 100%;
    float: left;
    clear: left;
    margin-bottom: 10px;
    .field-wrapper {
        margin-bottom: 0;
    }
}