.listing--small {
    @extend %listing--standard;
    h2 {
        font-size: em(22px);
        border: 0;
        padding: 0;
    }
    .grid--standard & {
        margin-bottom: 18px;
    }
}

.listing--small__items {
    @extend %listing--standard__items;
    margin-bottom: 30px;
    li {
        padding-bottom: 8px;
    }
    img {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    h3,
    a {
        font-size: em(18px);
        line-height: 1;
    }
    h3 {
        margin-top: 3px;
    }
    .no-wrap {
        clear: none;
    }
    a:hover + .no-wrap a {
        color: $base--text-color;
    }
    .grid--standard & {
        margin-bottom: 0;
        li:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}