.listing--profile {
    overflow: hidden;
    h1 {
        @extend %heading--bold;
        margin-bottom: 20px;
        @include media-query(tablet-up) {
            margin-bottom: 30px;
        }
    }
}

.listing--profile__items {
    padding: 0 10px;
    li {
        float: left;
        width: 50%;
        padding: 0 10px 30px;
        min-height: 250px;
        @media all and (min-width: em(400px)) and (max-width: em(640px)) {
            width: 33%;
            min-height: 200px;
        }
        @include media-query(800px) {
            width: 33%;
            min-height: 200px;
        }
        @media all and (min-width: em(800px)) {
            width: 19.91701%;
            min-height: 260px;
        }
    }
    img {
        margin-bottom: 10px;
    }
    a {
        @extend %link--bright;
        font-family: $fogerty--solid;
        font-size: em(18px);
        line-height: 1;
        &:hover + a {
            color: $base--text-color;
        }
    }
}