.media-header--alt {
    margin-bottom: 30px;
    .media-header__container {
        overflow: hidden;
    }
    .media-header__title {
        @include media-query(tablet-up) {
            height: 100%;
            h1 {
                margin-bottom: 0;
            }
        }
    }
    .media-header__image {
        @include media-query(tablet-up) {
            float: right;
            width: 66%;
        }
    }
    .media-header__caption {
        padding-bottom: 20px;
        p {
            margin-bottom: 0;
        }
        @include media-query(tablet-up) {
            padding-top: 50px;
            max-width: none;
            width: 34%;
            height: 100%;
            margin-top: -$base--heading-margin;
            background-color: rgba(21, 21, 21, 1);
        }
    }
}