.nav--secondary {
    overflow: hidden;
    background-color: $base--background-color;
}

.nav--secondary__menu {
    @extend %nav--link-list__tiny;
    @include media-query(tablet-up) {
        margin: 16px 0;
        padding-left: 20px;
        a {
            font-size: em(16px);
            padding: 6px 6px 6px 0;
            color: $base--brand-color;
            &:hover,
            &:active,
            &:focus {
                color: $base--text-color;
            }
        }
    }
    &.nav--link-list__split {
        border-left: 1px solid $base--border-color;
    }
    &:last-child {
        margin-bottom: 4px;
        @include media-query(tablet-up) {
            margin-bottom: 0;
        }
    }
}