.page-leads {
    margin-bottom: 30px;
    h2 {
        font-size: em(22px);
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .wrapper--inner {
        overflow: hidden;
        padding: 16px 20px 0;
        background-color: $base--background-color;
    }
}

.page-leads__rte {
    img {
        float: left;
        margin-bottom: 20px;
        @include media-query(tablet-up) {
            margin-right: 20px;
        }
    }
    p {
        margin-bottom: 20px;
        clear: left;
        @include media-query(tablet-up) {
            clear: none;
        }
    }
    @include media-query(tablet-up) {
        width: 70%;
        float: left;
    }
}

.page-leads__menu {
    @extend %nav--link-list__article;
    float: left;
    margin: 0 0 20px;
    @include media-query(tablet-up) {
        padding-left: 20px;
        width: 30%;
        ul {
            border-left: 1px solid $base--border-color;
            padding-left: 20px;
        }
    }
}