.profile-card {
    float: left;
    margin-top: 20px;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    img {
        margin-bottom: 12px;
    }
    a {
        @extend %link--dark;
    }
    p {
        line-height: 1.1;
        margin-bottom: 10px;
    }
    @include media-query(tablet-up) {
        width: 33%;
    }
}