.social-links--small {
    @extend %social-links;
    li {
        float: left;
        + li {
            margin-left: 5px;
        }
    }
    a {
        font-size: em(18px);
        width: 20px;
        height: 20px;
    }
}