{% block content %}
<div class="grid-container">
    <div class="grid--wide">
        {% include "rte" %}
        {% include "carousel--primary" %}
    </div>
</div>
{% include "carousel--secondary" %}
{% endblock %}