{% block content %}
{% include "breadcrumb__olivier" %}
{% include "media-header--alt__olivier" %}
<div class="grid-container">
    <div class="grid--wide">
        {% include "rte--olivier" %}
        {% include "carousel--primary__olivier" %}
        {% include "soundcloud" %}
    </div>
    <div class="grid--standard">
        {% include "rte--olivier__sidebar" %}
        {% include "rte--profile__pdf-link" %}
    </div>
    <div class="grid--narrow">
        {% include "social-links" %}
    </div>
</div>
{% endblock %}