form {
    @include clearfix();
}

label {
    font-family: $fogerty--solid;
    margin-bottom: 10px;
    float: left;
}

select {
    @include prefix(appearance, none);
    @include prefix(text-overflow, '');
    float: left;
    clear: left;
    border: 1px solid $base--border-color;
    background: url(../img/icon--select-arrow.png) no-repeat right center #fff;
    width: 100%;
    padding: 12px 55px 12px 10px;
    line-height: 1;
    border-radius: 0;
    text-indent: .01px; // hide firefox default arrow
    &::-ms-expand {
        display: none; // hide IE default arrow
    }
    .oldie & {
        background-image: none;
        padding-right: 10px;
    }
    @include media-query-hidpi() {
        background-image: url(../img/icon--select-arrow--hidpi.png);
        background-size: 28px 42px;
    }
}

textarea {
    float: left;
    clear: both;
    border: 1px solid $base--border-color;
    width: 100%;
    padding: 12px 10px;
    border-radius: 0;
    resize: vertical;
    -webkit-appearance: none;
}

input[type=text],
input[type=password],
input[type=email] {
    float: left;
    clear: left;
    border: 1px solid $base--border-color;
    width: 100%;
    padding: 12px 10px;
    line-height: 1;
    border-radius: 0;
    -webkit-appearance: none;
}

input[type=checkbox],
input[type=radio] {
    clear: left;
    float: left;
    margin: 5px 10px 10px 0;
    padding: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
    display: inline-block;
    width: auto;
    max-width: 80%;
}